<div class="breadcrumbs">
	<%= link_to "Admin", admin_index_path %> > 
	<%= link_to "Playlists", playlists_path %> > 
	<%= link_to @playlist.name, @playlist %>
	<%= link_to "New Playlist Song", new_playlist_playlist_song_path(@playlist) %>
</div>
<h1>New Playlist Song</h1>
<%= render 'playlist_songs/new_form' %>
