<div class="breadcrumbs">
	<%= link_to "Admin", admin_index_path %> > 
	<%= link_to "Users", users_path %> > <%= link_to @user.name, @user %> > 
	<%= link_to "#{@user.name}'s Playlists", user_playlists_path(@user.id) %> > 
	<%= link_to @playlist.name, user_playlist_path(@playlist.user_id, @playlist.id) %> >
	<%= link_to @song.title, user_playlist_playlist_song_path(@playlist.user_id, @playlist.id, @playlist_song.id) %>
</div>
<table>
	<tbody>
		<tr>
			<td><h2><%= @song.title %></h2></td>
			<td><%= @song.url %></td>
		</tr>
		<tr>
			<td><strong>Album</strong></td>
			<td><%= @song.album %>
		</tr>	
		<tr>
			<td><strong>Artist</strong></td>
			<td><%= @song.artist %></td>
		</tr>
	</tbody>
</table>

