<div class="breadcrumbs">
	<%= link_to "Admin", admin_index_path %> > 
	<%= link_to "Playlists", playlists_path %> > 
	<%= link_to @playlist.name, @playlist %>
	<%= link_to @song.title, playlist_playlist_song_path(@playlist, @playlist_song) %>
</div>
<h1><%= @song.title %></h1>
<table>
	<tbody>
		<tr>
			<th>Category</th>
			<th>Value</th>
		</tr>
		<tr>
			<td><strong>Album</strong></td>
			<td><%= @song.album %>
		</tr>	
		<tr>
			<td><strong>Artist</strong></td>
			<td><%= @song.artist %></td>
		</tr>
		<tr>
			<td><strong>URL</strong></td>
			<td><%= @song.url %>
		</tr>	
		<tr>
			<td><strong>Artwork</strong></td>
			<td><%= @song.artwork %>
		</tr>	
		<tr>
			<td><strong>Service</strong></td>
			<td><%= @song.service.id %>
		</tr>	
		<tr>
			<td><strong>ID</strong></td>
			<td><%= @song.external_id %></td>
		</tr>
	</tbody>	
</table>
<div class="info">
	<strong>Actions</strong> | 
	<%= link_to "Edit '#{@song.title}'", edit_playlist_playlist_song_path(@playlist, @song) %> | 
	<%= link_to "Delete '#{@song.title}'", playlist_playlist_song_path(@playlist, @playlist_song), :method => :delete, :confirm => "Are you sure you want to delete #{@song.title}?", :title => "Delete #{@song.title}?" %>
</div>

