<%= form_for(:session, :url => sessions_path) do |f| %>
	<div class="field">
		<%= f.label :name, 'Username' %>
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :unencrypted_password, 'Password' %>
		<%= f.password_field :unencrypted_password %>
	</div>
	<div class="actions">
		<%= f.submit "Login" %>
	</div>
<% end %>
