<div class="breadcrumbs">
	<%= link_to "Admin", admin_index_path %>
</div>
<h1>Admin</h1>
<table>
	<tbody>
		<tr>
			<th>Model</th>
			<th>URL</th>
			<th>Count</th>
		</tr>
		<tr>
			<td>Users</td>
			<td><%= link_to users_path, users_path %></td>
			<td><%= @user_count %></td>
		</tr>
		<tr>
			<td>Songs</td>
			<td><%= link_to songs_path, songs_path %></td>
			<td><%= @song_count %></td>
		</tr>
		<tr>
			<td>Playlists</td>
			<td><%= link_to playlists_path, playlists_path %></td>
			<td><%= @playlist_count %></td>
		</tr>
		<tr>
			<td>Groups</td>
			<td><%= link_to groups_path, groups_path %></td>
			<td><%= @group_count %></td>
		</tr>
	</tbody>
</table>
<h1>Search</h1>
<%= render 'admin/search_form' %>
<%= render 'admin/search_results' %>
