<div class="breadcrumbs">
	<%= link_to "Admin", admin_index_path %> > 
	<%= link_to "Groups", groups_path %>
</div>
<h1>Groups</h1>
<table>
	<tbody>
		<tr>
			<th>ID</th>
			<th>Group Name</th>
			<th>Permission Level</th>
			<th>Description</th>
		</tr>
		<% @groups.each do |group| %>
		<tr>
			<td><%= group.id %></td>
			<td><%= link_to group.name, group %></td>
			<td><%= group.permission_level %></td>
			<td><%= group.description %></td>
		</tr>
		<% end %>
	</tbody>
</table>
