<%= form_for(@user) do |f| %>
	<%= render 'shared/form_error_messages', :object => f.object %>
	<div class="field">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :email %>
		<%= f.text_field :email %>
	</div>
	<div class="field">
		<%= f.label :unencrypted_password, 'Password' %>
		<%= f.password_field :unencrypted_password %>
	</div>
	<div class="field">
		<%= f.label :unencrypted_password_confirmation, 'Confirm Password' %>
		<%= f.password_field :unencrypted_password_confirmation %>
	</div>
	<div class="field">
		<%= f.label :group_id, 'Group' %>
		<%  @groups.each do |group| %>
			<%= radio_button 'user', 'group_id', group.id %>
			<%= f.label 'group_id', group.name, :value => group.id %>
		<% end %>
	</div>
	<div class="field">
		<%= f.label :is_active, 'Active' %>
		<%= radio_button 'user', 'is_active', 1 %>
		<%= f.label 'is_active', 'True', :value => 1 %>
		<%= radio_button 'user', 'is_active', 0 %>
		<%= f.label 'is_active', 'False', :value => 0 %>
	</div>
	<div class="actions">
		<%= f.submit "Update" %>
	</div>
<% end %>
