<div class="breadcrumbs">
	<%= link_to "Admin", admin_index_path %> > 
	<%= link_to "Users", users_path %> > 
	<%= link_to "New User", new_user_path %>
</div>
<h1>New User</h1>
<%= render 'users/model_annotation' %>
<%= render 'users/new_form' %>
