<%= form_for(@song) do |f| %>
	<%= render 'shared/form_error_messages', :object => f.object %>
	<div class="field">
		<%= f.label :url %>
		<%= f.text_field :url %>
	</div>
	<div class="actions">
		<%= f.submit "Edit" %>
	</div>
<% end %>
