<div class="breadcrumbs">
	<%= link_to "Admin", admin_index_path %> >
	<%= link_to "Songs", songs_path %>
</div>
<h1>Songs</h1>
<table>
	<tbody>
		<tr>
			<th></th>
			<th>ID</th> 
			<th>User</th>
			<th>Title</th>
			<th>Artist</th>
			<th>Album</th>
			<th>URL</th>
			<th>Artwork</th>
		</tr>
		<% @songs.each do |s| %>
		<tr>
			<td><%= image_tag(s.service.icon) %></td>
			<td><%= s.id %></td>
			<td><%= link_to s.user.name, user_path(s.user_id) %></td>
			<td><%= link_to s.title, song_path(s.id) %></td>
			<td><%= s.artist %></td>
			<td><%= s.album %></td>
			<td><%= s.url %></td>
			<td><%= s.artwork %></td>
		</tr>
		<% end %>
	</tbody>	
</table>
<div class="info">
	<strong>Number of Songs</strong>: <%= @song_count %>
</div>
<%= will_paginate %>

