<div class="breadcrumbs">
	<%= link_to "Admin", admin_index_path %> >
	<%= link_to "Songs", songs_path %> >
	<%= link_to @song.title, song_path(@song.id) %>
</div>
<h1><%= @song.title %></h1>
<table>
	<tbody>
		<tr>
			<td><strong>Album</strong></td>
			<td><%= @song.album %>
		</tr>	
		<tr>
			<td><strong>Artist</strong></td>
			<td><%= @song.artist %></td>
		</tr>
		<tr>
			<td><strong>URL</strong></td>
			<td><%= link_to @song.url, @song.url %></td>
		</tr>
		<tr>
			<td><strong>ID</strong></td>
			<td><%= @song.external_id %></td>
		</tr>
		<tr>
			<td><strong>Service</strong></td>
			<td><%= @song.service.name %></td>
		</tr>
		<tr>
			<td><strong>Added by</strong></td>
			<td><%= link_to @song.user.name, user_path(@song.user.id) %></td>
		</tr>
		<tr>
			<td><strong>Added at</strong></td>
			<td><%= @song.created_at.to_formatted_s(:long_ordinal) %></td>
		</tr>
	</tbody>
</table>
<div class="info">
	<strong>Actions</strong> | 
	<%= link_to "Delete Song", @song, :method => :delete, :confirm => "Are you sure you want to delete '#{@song.title}'?", :title => "Delete '#{@song.title}'?" %> | 
	<%= link_to "Edit Song", edit_song_path(@song) %>
</div>


