<%= form_for(@playlist) do |f| %>
	<%= render 'shared/form_error_messages', :object => f.object %>
	<div class="field">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div class="action">
		<%= f.submit "Edit" %>
	</div>
<% end %>
