<%= form_for @new_playlist, :url => url, :remote => remote do |f| %>
	<%= render 'shared/form_error_messages', :object => f.object %>
	<div class="field">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div class="actions">
		<%= f.submit "Create", :class => "button medium" %>
	</div>
<% end %>
