<div class="breadcrumbs">
	<%= link_to "Admin", admin_index_path %> > <%= link_to "Users", users_path %> > <%= link_to @user.name, @user %> > <%= link_to "#{@user.name}'s Playlists", user_playlists_path(@user.id) %>
</div>
<h1>Your Playlists</h1>
<table>
	<tbody>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>User</th>
		</tr>
		<% @user.playlist.each do |p| %>
		<tr>
			<td><%= p.id %></td>
			<td><%= link_to p.name, user_playlist_path(@user, p.id) %></td>
			<td><%= @user.name %></td>
		</tr>
		<% end %>	
	</tbody>
</table>
<div class="info">
	<strong>Actions</strong> | 
	<%= link_to "Add a playlist", new_user_playlist_path(@user.id) %>
</div>

