<div class="breadcrumbs">
	<%= link_to "Admin", admin_index_path %> > 
	<%= link_to "Playlists", playlists_path %>
</div>
<h1>Playlists</h1>
<table>
	<tbody>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>User</th>
		</tr>
		<% @playlists.each do |p| %>
		<tr>
			<td><%= p.id %></td>
			<td><%= link_to p.name, p %></td>
			<td><%= link_to p.user.name, p.user %></td>
		</tr>
		<% end %>	
	</tbody>
</table>

