<h1><%= @playlist.name %></h1>
<table>
	<tbody>
		<tr>
			<th>Position</th>
			<th>ID</th> 
			<th>User</th>
			<th>Title</th>
			<th>Artist</th>
			<th>Album</th>
			<th>URL</th>
			<th>Artwork</th>
		</tr>
		<% @playlist_songs.each do |p_song| %>
		<tr>
			<td><%= p_song.position %></td>
			<td><%= p_song.id %></td>
			<td><%= p_song.song.user.name %></td>
			<td><%= link_to p_song.song.title, user_playlist_playlist_song_path(@playlist.user_id, @playlist.id, p_song.id) %></td>
			<td><%= p_song.song.artist %></td>
			<td><%= p_song.song.album %></td>
			<td><%= p_song.song.url %></td>
			<td><%= p_song.song.artwork %></td>
		</tr>
		<% end %>
	</tbody>
</table>
