<div class="breadcrumbs">
	<%= link_to "Admin", admin_index_path %> > 
	<%= link_to "Playlists", playlists_path %> > 
	<%= link_to @playlist.name, @playlist %>
</div>
<h1><%= @playlist.name %></h1>
<table>
	<tbody>
		<tr>
			<th></th>
			<th></th>
			<th>ID</th> 
			<th>User</th>
			<th>Title</th>
			<th>Artist</th>
			<th>Album</th>
		</tr>
		<% @playlist_songs.each do |p_song| %>
		<tr id="song_<%= p_song.id %>">
			<td><%= image_tag(p_song.song.service.icon) %></td>
			<td class="song-position"><%= p_song.position %></td>
			<td><%= p_song.id %></td>
			<td><%= p_song.song.user.name %></td>
			<td><%= link_to p_song.title, song_path(p_song.song.id) %></td>
			<td><%= p_song.artist %></td>
			<td><%= p_song.album %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<div class="info">
	<strong>Actions</strong> | 
	<%= link_to "Add a Song to '#{@playlist.name}'", new_playlist_playlist_song_path(@playlist) %> | 
	<%= link_to "Edit Playlist", edit_playlist_path(@playlist.id) %> | 
	<%= link_to "Delete Playlist", @playlist, :method => :delete, :confirm => "Are you sure you want to delete #{@playlist.name}?", :title => "Delete #{@playlist.name}?" %>
</div>

