<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "admin" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
<div class="container">
	<header>
		<div class="left">
			<h1>postune (admin)</h1>
		</div>

		<nav class="left header-pane">
			<%= link_to "Home", admin_index_path %>
			<%= link_to "Users", users_path %>
			<%= link_to "Songs", songs_path %>
			<%= link_to "Playlists", playlists_path %>
			<%= link_to "Groups", groups_path %>
			<%= link_to "Postune", root_path %>
		</nav>
			
		<div class="right header-pane">
			<% if signed_in? %>
				Logged in as: <%= link_to current_user.name, current_user %> | 
				<%= link_to "Logout", logout_path %>
			<% end %>
		</div>
	</header>

	<section class="main">
		<% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
		<%= yield %>
	</section>

	<footer>
		Postune &copy; 2011 - <%= Date.today.year %>
	</footer>
</div>
</body>
</html>
