<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
	<header>
		<div class="inner">
			<%= image_tag("logo.png") %>	
		</div>
	</header>
	<section id="main">
		<%= yield %>
	</section>
</div>
</body>
</html>
