<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "http://www.google.com/jsapi" %>
  <%= javascript_tag "google.load('swfobject', '2.1');" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
	<header>
		<div class="left">
			<%= link_to image_tag("logo.png"), root_path %>
		</div>
		<div class="right">
			<% if signed_in? %>
				<%= link_to current_user.name, "#", :class => "user-nav" %>
				<div id="user-hidden-menu">
					<ul>
						<li><%= link_to "Logout", logout_path %>/li>
						<li><%= link_to "Music", player_index_path %></li>
						<li><%= link_to "Profile", "#" %></li>
					</ul>
				</div>
			<% else %>
			
			<% end %>
		</div>
	</header>
	<% if signed_in? %>
	<div class="actions-bar">
		<div class="right">
			<%= link_to "Add Playlist", "javascript:changeWindow('#{new_library_path}')", :class => "button" %></a>
		</div>
	</div>
	<% end %>
	<section id="main">
		<%= yield %>
	</section>
</div>
</body>
</html>
