<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
	<header>
		<div class="inner">
			<div class="left">
				<%= link_to image_tag("logo.png"), root_path %>				
			</div>
			<div class="right">
				<% if signed_in? %>
					<%= link_to current_user.name, "#" %> | 
					<%= link_to "Logout", logout_path %>
				<% else %>		
					<%= link_to "Register", "#" %> | 
					<%= link_to "Login", login_path %>
				<% end %>
			</div>
		</div> 
	</header>
	<section id="main">
		<%= yield %>
	</section>
</div>
</body>
</html>
